@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-selection-bg: var(--selection-bg);
  --color-selection-text: var(--selection-text);
}

:root {
  --radius: 2rem;
  --card: rgb(255 255 255);
  --card-foreground: rgb(23 29 26);
  --popover: rgb(255 255 255);
  --popover-foreground: rgb(23 29 26);
  --primary: rgb(18 107 86);
  --primary-foreground: rgb(255 255 255);
  --secondary: rgb(206 233 221);
  --secondary-foreground: rgb(52 76 67);
  --muted: rgb(239 245 241);
  --muted-foreground: rgb(111 121 117);
  --accent: rgb(206 233 221);
  --accent-foreground: rgb(52 76 67);
  --destructive: rgb(186 26 26);
  --border: rgb(191 201 195);
  --input: rgb(191 201 195);
  --ring: rgb(18 107 86);
  --chart-1: rgb(18 107 86);
  --chart-2: rgb(75 99 91);
  --chart-3: rgb(64 99 118);
  --chart-4: rgb(163 242 216);
  --chart-5: rgb(196 231 255);
  --sidebar: rgb(255 255 255);
  --sidebar-foreground: rgb(23 29 26);
  --sidebar-primary: rgb(18 107 86);
  --sidebar-primary-foreground: rgb(255 255 255);
  --sidebar-accent: rgb(206 233 221);
  --sidebar-accent-foreground: rgb(52 76 67);
  --sidebar-border: rgb(191 201 195);
  --sidebar-ring: rgb(18 107 86);
  --background: rgb(245 251 246);
  --foreground: rgb(23 29 26);
  --selection-bg: black;
  --selection-text: white;
}

.dark {
  --background: rgb(15 21 18);
  --foreground: rgb(222 228 224);
  --card: rgb(27 33 30);
  --card-foreground: rgb(222 228 224);
  --popover: rgb(27 33 30);
  --popover-foreground: rgb(222 228 224);
  --primary: rgb(135 214 188);
  --primary-foreground: rgb(0 56 43);
  --secondary: rgb(52 76 67);
  --secondary-foreground: rgb(206 233 221);
  --muted: rgb(23 29 26);
  --muted-foreground: rgb(137 147 142);
  --accent: rgb(52 76 67);
  --accent-foreground: rgb(206 233 221);
  --destructive: rgb(255 180 171);
  --border: rgb(63 73 69);
  --input: rgb(63 73 69);
  --ring: rgb(135 214 188);
  --chart-1: rgb(135 214 188);
  --chart-2: rgb(178 204 193);
  --chart-3: rgb(168 203 226);
  --chart-4: rgb(0 81 64);
  --chart-5: rgb(40 75 94);
  --sidebar: rgb(27 33 30);
  --sidebar-foreground: rgb(222 228 224);
  --sidebar-primary: rgb(135 214 188);
  --sidebar-primary-foreground: rgb(0 56 43);
  --sidebar-accent: rgb(52 76 67);
  --sidebar-accent-foreground: rgb(206 233 221);
  --sidebar-border: rgb(63 73 69);
  --sidebar-ring: rgb(135 214 188);
  --selection-bg: white;
  --selection-text: black;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  
  ::selection {
    background-color: var(--selection-bg);
    color: var(--selection-text);
  }
  
  .dark ::selection {
    background-color: white;
    color: black;
  }
}
